@model Flowers.Models.Shop
@{
	ViewBag.Title = Model.Name;
}
<div class="col-md-6 offset-md-3 text-center">
	<h2>Товар: @Model.Name</h2>
	<div class="mt-4 mb-3">
		<img src="~/img/@Model.Image">
	</div>
	<dl class="dl-horizontal">
		<dt>Идентификатор - @Model.Id</dt>
		<dt>Цена - @Model.Price <i class="fa fa-ruble-sign"></i></dt>
		<dt>Количество - @Model.Amount</dt>
		<a asp-action="Delete" asp-controller="home" asp-route-id="@Model.Id" class="btn-main m-3 text-decoration-none">Удалить</a>
		<a asp-action="Edit" asp-controller="home" asp-route-id="@Model.Id" class="btn-main m-3 text-decoration-none">Изменить</a>
	</dl>
</div>